# Resources folder
/Resources

#c Compilato vlog
*.bng
*.bgn
*.lst
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.ref
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.xbcd
*.xmsgs
*.html
*.ncd
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.xml
*.gise
*.log
