// ==== 6-pin header J20 ====
NET "J20_IO<0>" LOC = "V14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "J20_IO<1>" LOC = "V15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "J20_IO<2>" LOC = "W16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "J20_IO<3>" LOC = "V16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
